@font-face {
    font-family: 'Euclid Circular A';
    src: local('Euclid Circular A'), url(/fonts/EuclidCircularA-Regular.woff) format('woff');
  }

main{position:relative;width:100%;height:8123px;background:#fff;}
.container{max-width:1440px;margin:0 auto}
#bv-solution-block{

    /* Find a Solution */

position: absolute;
max-width: 1120px;
height: 518px;
left: 160px;
top: 2467px;
}
#devices{
    /* Group 135 */
    background:url('/images/Devices.png');
    background-size:cover;
position: relative;
left: 0%;
right: 0%;
top: 200px;
bottom: 0%;
width:1044.75px;
height:477px;
}
#hero-img-1{
    /* GettyImages-1185878317 1 */

position: absolute;
width: 100%;
height: 800px;
left: 0px;
top: 0px;

background: url('/images/hero-1.png');
mix-blend-mode: multiply;
background-size:cover;
background-position:center center;

}

#hero-1-inner{
    position:relative;
    width: 1440px;
height: 800px;
margin:0 auto;
}
#frame-113-container{
    max-width:1140px;
    position: absolute;
margin:0 auto;
height: 316px;

top: 971px;
}
#frame-113{
    /* Frame 113 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;

position: relative;
width: 448px;
height: 316px;
margin:0 auto;



}
#frame-113 #text-1{/* Why enfusion */

    width: 448px;
    height: 22px;
    
    font-family: 'Euclid Circular A';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    
    /* identical to box height, or 157% */
    letter-spacing: 2.5px;
    text-transform: uppercase;
    
    /* Purples/Bright Purple */
    color: #7D5FFF;
    
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
#frame-113 #text-2{
/* Born in the cloud. Built for outperformance. */

width: 448px;
height: 168px;

font-family: 'Euclid Circular A';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 56px;

/* or 117% */
letter-spacing: -0.5px;

/* Purples/Midnight */
color: #1E1A34;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
    }
    #frame-113 .text-3{
        /* Enfusion gets technology out of your way so you can see, perform and grow at the height of your talents. */

width: 448px;
height: 78px;

font-family: 'Euclid Circular A';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 26px;

/* or 144% */
letter-spacing: 0.2px;

/* Purples/Midnight 70% */
color: rgba(30, 26, 52, 0.7);


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;
    }
#frame-99{
    /* Frame 99 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 32px;

position: absolute;
width: 672px;
height: 434px;
left: 160px;
top: 183px;
}
#frame-99-outer{
    position:relative;
    max-width:1440px;
    margin:0 auto;
}
.frame-99-text1{
    /* O Meet Enfusion */

width: 160px;
height: 22px;

font-family: 'Euclid Circular A';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 22px;

/* identical to box height, or 157% */
letter-spacing: 2.5px;
text-transform: uppercase;

/* Purples/Bright Purple */
color: #7D5FFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}
.frame-99-text2{

    /* See clearly. Act confidently. */

width: 672px;
height: 192px;

font-family: 'Euclid Circular A';
font-style: normal;
font-weight: 400;
font-size: 88px;
line-height: 96px;

/* or 109% */
letter-spacing: -1px;

/* Neutrals / White */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}
.frame-99-text3{
    /* Enfusion radically simplifies the investment management process by uniting front-, middle-, and back- office functions and services under a single, cloud-native platform built on a shared ‘golden data set’—giving you the freedom to focus on performance. */

width: 448px;
height: 156px;

font-family: 'Euclid Circular A';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 26px;

/* or 144% */
letter-spacing: 0.2px;

/* Neutrals/White 70% */
color: rgba(255, 255, 255, 0.7);


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
}
#rectangle-3{
    /* Rectangle 3 */

position: absolute;
width: 800px;
height: 1440px;
left: 1440px;
top: 0px;

background: rgba(16, 24, 32, 0.4);
mix-blend-mode: multiply;
transform: rotate(90deg);
}
#rectangle-77{
    /* Rectangle 77 */

position: absolute;
width: 100%;
height: 1293px;
left: 0px;
top: 2339px;

/* Neutrals / Gray 19 */
background: #F8F8F7;
}
#solution-container{
    width:100%;
   
    position:absolute;
    height:518px;
    top:2467px;
}
#solution-inner{
    width:1120px;
    margin:0 auto;
    position:relative;
    height:518px;
    
}
#subtract{
/* Subtract */

background-image:url('/images/subtract.png');
position: absolute;
background-size:contain;
width: 1066px;
height: 290px;
left: -334px;
top: 2806px;

/* Neutrals / Gray 17 */
/* background: #ECECE9; */
/* transform: matrix(-1, 0, 0, 1, 0, 0); */
}

#frame-85{
/* Frame 85 */
/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;

position: absolute;
left: 0%;
right: 60%;
top: 0%;
bottom: 44.79%;
}
#solution-heading{/* Find a Solution */

    width: 448px;
    height: 22px;
    
    font-family: 'Euclid Circular A';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    
    /* identical to box height, or 157% */
    letter-spacing: 2.5px;
    text-transform: uppercase;
    
    /* Purples/Bright Purple */
    color: #7D5FFF;
    
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;}
#solution-title{/* Cloud-native. For blue-sky plans. */

    width: 448px;
    height: 112px;
    
    font-family: 'Euclid Circular A';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    
    /* or 117% */
    letter-spacing: -0.5px;
    
    /* Purples/Midnight */
    color: #1E1A34;
    
    
    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;}
#solution-copy{/* Founded by developers from the world’s most successful hedge funds, Enfusion was purpose-built to remove key operational and technological barriers faced by all types of asset managers. */

    width: 448px;
    height: 104px;
    
    font-family: 'Euclid Circular A';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    
    /* or 144% */
    letter-spacing: 0.2px;
    
    /* Purples/Midnight 70% */
    color: rgba(30, 26, 52, 0.7);
    
    
    /* Inside auto layout */
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;}


#benny-container{
    position: absolute;
width: 100%;
height: 692px;
top: 1464px;
}
#benny-table{
/* Desktop / Benefits Table */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 32px;

position: relative;
width: 1120px;
height: 692px;
margin:0 auto;


}

.line-13{ /*ben vert 1*/
/* Line 13 */
width: 66px;
height: 0px;
/* Purples/Midnight 20% */
border: 1px solid rgba(30, 26, 52, 0.2);
transform: rotate(90deg);
/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

}
.line-21{/*ben vert 2*/
    /* Line 21 */

width: 66px;
height: 0px;

/* Purples/Midnight 20% */
border: 1px solid rgba(30, 26, 52, 0.2);
transform: rotate(90deg);

/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;
}
.line-24{/*ben horiz 1*/
    /* Line 24 */

width: 1120px;
height: 0px;

/* Purples/Midnight 20% */
border: 1px solid rgba(30, 26, 52, 0.2);
transform: rotate(180deg);

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}
.line-19{/*ben horiz 2*/
    /* Line 19 */

width: 1120px;
height: 0px;

/* Purples/Midnight 20% */
border: 1px solid rgba(30, 26, 52, 0.2);
transform: rotate(180deg);

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;
}
.line-26{ /*ben horiz 3*/
/* Line 26 */
width: 1120px;
height: 0px;
/* Purples/Midnight 20% */
border: 1px solid rgba(30, 26, 52, 0.2);
transform: rotate(180deg);
/* Inside auto layout */
flex: none;
order: 4;
align-self: stretch;
flex-grow: 0;
}
.line-27{
    /* Line 27 */

width: 1120px;
height: 0px;

/* Purples/Midnight 20% */
border: 1px solid rgba(30, 26, 52, 0.2);
transform: rotate(180deg);

/* Inside auto layout */
flex: none;
order: 6;
align-self: stretch;
flex-grow: 0;
}
.line-28{
    /* Line 28 */

width: 1120px;
height: 0px;

/* Purples/Midnight 20% */
border: 1px solid rgba(30, 26, 52, 0.2);
transform: rotate(180deg);

/* Inside auto layout */
flex: none;
order: 8;
align-self: stretch;
flex-grow: 0;
}
.line-25{
    /* Line 25 */

width: 1120px;
height: 0px;

/* Purples/Midnight 20% */
border: 1px solid rgba(30, 26, 52, 0.2);
transform: rotate(180deg);

/* Inside auto layout */
flex: none;
order: 12;
align-self: stretch;
flex-grow: 0;
}
#frame-100{
    /* Frame 100 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px 0px 0px 56px;
gap: 56px;
top:32px;
width: 1120px;
height: 66px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}
#frame-101{
    /* Frame 101 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px 0px 0px 56px;
gap: 56px;

width: 1120px;
height: 80px;


/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;
}
#frame-102{
    /* Frame 102 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px 0px 0px 56px;
gap: 56px;

width: 1120px;
height: 66px;


/* Inside auto layout */
flex: none;
order: 5;
align-self: stretch;
flex-grow: 0;
}
#frame-103{
    /* Frame 103 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px 0px 0px 56px;
gap: 56px;

width: 1120px;
height: 80px;


/* Inside auto layout */
flex: none;
order: 7;
align-self: stretch;
flex-grow: 0;
}
#frame-104{
    /* Frame 104 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px 0px 0px 56px;
gap: 56px;

width: 1120px;
height: 80px;


/* Inside auto layout */
flex: none;
order: 9;
align-self: stretch;
flex-grow: 0;
}
#benny-table .icon{width: 40px;
    height: 40px;
    
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;}
#frame-100 .icon{
    background:url('/images/icon_cloud.png');
    background-size:cover;


}
#frame-101 .icon{
    background:url('/images/icon_circleweb.png');
    background-size:cover;
}
#frame-102 .icon{
    background:url('/images/icon_api.png');
    background-size:cover;
}
#frame-103 .icon{
    background:url('/images/icon_upgrade.png');
    background-size:cover;
}
#frame-104 .icon{
    background:url('/images/icon_gearweb.png');
    background-size:cover;
}

.ben-copy-2{
    /* Our expert users work in the same operating environment as our clients, ensuring both efficiency and total oversight. */

width: 400px;
height: 66px;

font-family: 'Euclid Circular A';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;

/* or 147% */
display: flex;
align-items: center;
letter-spacing: 0.2px;

/* Purples/Midnight 70% */
color: rgba(30, 26, 52, 0.7);


/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 1;
}
#frame-100 .ben-copy-1{
    /* Seam free, front-to-back Software-as-a-Service */

width: 400px;
height: 64px;

font-family: 'Euclid Circular A';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 32px;

/* or 133% */
display: flex;
align-items: center;

/* Purples/Midnight */
color: #1E1A34;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 1;
}
#frame-101 .ben-copy-1{
    /* Single source of truth for all users */

width: 400px;
height: 80px;

font-family: 'Euclid Circular A';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 32px;

/* or 133% */
display: flex;
align-items: center;

/* Purples/Midnight */
color: #1E1A34;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 1;
}

#frame-102 .ben-copy-1{
    /* API-powered, open platform */

width: 400px;
height: 32px;

font-family: 'Euclid Circular A';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 32px;

/* identical to box height, or 133% */
display: flex;
align-items: center;

/* Purples/Midnight */
color: #1E1A34;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 1;
}
#frame-103 .ben-copy-1{
    /* Weekly upgrades, with zero disruptions */

width: 400px;
height: 80px;

font-family: 'Euclid Circular A';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 32px;

/* or 133% */
display: flex;
align-items: center;

/* Purples/Midnight */
color: #1E1A34;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 1;
}
#frame-104 .ben-copy-1{
    /* Managed services for middle and back office */

width: 400px;
height: 80px;

font-family: 'Euclid Circular A';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 32px;

/* or 133% */
display: flex;
align-items: center;

/* Purples/Midnight */
color: #1E1A34;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 1;
}
#bv-header{/* Header / Desktop */

    position: absolute;
    width: 1440px;
    height: 80px;
    left: 0px;
    top: 0px;
    
    }
#bv-cta-block{
    background:url('/images/GettyImages-1036208856-1.png');
    background-size:cover;
/* Group 153 */

/* CTA Banner / Full Width / Desktop */

position: absolute;

height: 360px;
width:100%;
top: 6955px;


}
#block-A{

position: absolute;
width: 640px;
left: 160px;
top: 40%;
bottom: 44.44%;

font-family: 'Euclid Circular A';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 56px;

/* identical to box height, or 117% */
letter-spacing: -0.5px;

/* Purples/Midnight */
color: #1E1A34;


}

#block-button{
/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 14px 32px 16px;
gap: 16px;

position: absolute;
width: 147px;
right: 256px;
top: 42.22%;
bottom: 42.22%;

/* Purples/Midnight */
background: #1E1A34;
border-radius: 80px;

}
.cta-container{
    max-width:1440px;
    height: 360px;
    margin: 0 auto;
    position:relative;
}
#ttu{
/* Talk to Us */

width: 83px;
height: 26px;

font-family: 'Euclid Circular A';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 26px;

/* identical to box height, or 144% */
text-align: center;
letter-spacing: 0.2px;

/* Neutrals / White */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}
#insights-block{
    /* Insights / Horiz Scroll / Desktop */

position: absolute;
width: 1504px;
height: 637px;
left: 160px;
top: 4870px;
}
#insights{
    /* Insights */

position: absolute;
left: 0%;
right: 57.45%;
top: 0%;
bottom: 96.55%;

font-family: 'Euclid Circular A';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 22px;

/* identical to box height, or 157% */
letter-spacing: 2.5px;
text-transform: uppercase;

/* Purples/Bright Purple */
color: #7D5FFF;
}
#persp{
    /* All things in perspective. */

position: absolute;
left: 0%;
right: 44.68%;
top: 7.22%;
bottom: 83.99%;

font-family: 'Euclid Circular A';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 56px;

/* identical to box height, or 117% */
letter-spacing: -0.5px;

/* Purples/Midnight */
color: #1E1A34;


}
#stats-container{
position:absolute;
background:url('/images/Rectangle 9stats-bg.png');
background-size:cover;
width: 100%;
height: 510px;
left: -500px;
top: 5635px;


}
#bv-stats-block {
    position: relative;
    width: 1280px;
    height: 510px;
    margin: 0 auto;
    margin-right: 0;
}
#stats-head{
/* Frame 89 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;

position: absolute;
width: 832px;
height: 102px;
left: 160px;
top: 64px;

}
#stats-title{

    width: 736px;
    height: 22px;
    
    font-family: 'Euclid Circular A';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    
    /* identical to box height, or 157% */
    letter-spacing: 2.5px;
    text-transform: uppercase;
    
    /* Purples / Periwinkle */
    color: #99B0F6;
    
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0; 
}
#stats-headline{
    /* Strength in numbers. */

width: 832px;
height: 56px;

font-family: 'Euclid Circular A';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 56px;

/* identical to box height, or 117% */
letter-spacing: -0.5px;

/* Neutrals / White */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
}
.stats{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
}
#stats-1{
/* Frame 132 */
/* Auto layout */
position: absolute;
width: 256px;
height: 228px;
left: 160px;
top: 214px;
}

#stats-2{
/* Frame 91 */
/* Auto layout */

position: absolute;
width: 256px;
height: 232px;
left: 544px;
top: 214px;
}

#stats-3{
/* Frame 92 */
/* Auto layout */

position: absolute;
width: 256px;
height: 210px;
left: 928px;
top: 214px;
}

.stats-num{
    /* 9 */

width: 256px;
height: 88px;

font-family: 'Euclid Circular A';
font-style: normal;
font-weight: 300;
font-size: 88px;
line-height: 88px;

/* identical to box height, or 100% */
letter-spacing: -1px;

/* Neutrals / White */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}
.stats-line{
   /* Line 32 */

width: 256px;
height: 0px;

/* Neutrals/White 30% */
border: 1px solid rgba(255, 255, 255, 0.3);

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0; 
}
.sh{
    font-family: 'Euclid Circular A';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;

}
.stats-subhead-1{
    /* OFFICES ACROSS FOUR CONTINENTS */

width: 256px;
height: 36px;



/* or 150% */
letter-spacing: 2.5px;
text-transform: uppercase;

/* Purples / Periwinkle */
color: #99B0F6;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}
.stats-subhead-2{
    /* YEARS OF CLOUD-NATIVE SAAS */

width: 256px;
height: 18px;



/* identical to box height, or 150% */
letter-spacing: 2.5px;
text-transform: uppercase;

/* Purples / Periwinkle */
color: #99B0F6;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}
.stats-subhead-3{
    /* Implementations */
    
    width: 256px;
    height: 18px;
    

    
    /* identical to box height, or 150% */
    letter-spacing: 2.5px;
    text-transform: uppercase;
    
    /* Purples / Periwinkle */
    color: #99B0F6;
    
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    }
.stats-subcopy-1{
    /* Our global footprint allows for 24/6, follow-the-sun support. */

width: 288px;
height: 44px;

font-family: 'Euclid Circular A';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;

/* or 147% */
letter-spacing: 0.2px;

/* Neutrals/White 70% */
color: rgba(255, 255, 255, 0.7);


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
}
#stats-copy-1{
/* Frame 133 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 12px;

width: 256px;
height: 92px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;

}
#stats-copy-2{
    /* Frame 134 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 12px;

width: 256px;
height: 96px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;
}
#stats-copy-3{
/* Frame 135 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 12px;

width: 256px;
height: 74px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;

}

.stats-subcopy-2{
    /* The architecture of our platform pre-dates the rise of SaaS for the industry. */

width: 288px;
height: 66px;

font-family: 'Euclid Circular A';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;

/* or 147% */
letter-spacing: 0.2px;

/* Neutrals/White 70% */
color: rgba(255, 255, 255, 0.7);


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
}

.stats-subcopy-3{

    /* Hundreds of funds trust Enfusion technology for their operations. */

width: 256px;
height: 44px;

font-family: 'Euclid Circular A';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;

/* or 147% */
letter-spacing: 0.2px;

/* Neutrals/White 70% */
color: rgba(255, 255, 255, 0.7);


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}
#awards-container{
    width:100%;
    height:561px;
    position: absolute;
    top: 6273px;
}
#bv-awards-block{
    /* Awards Module / Desktop */

position: relative;
width: 1120px;
height: 561px;
margin:0 auto;



}
.award-line{
    /* Line 13 */

width: 256px;
height: 0px;

/* Purples/Midnight 20% */
border: 1px solid rgba(30, 26, 52, 0.2);

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}
.awards-ribbon{
    background:url('/images/icon_ribbon.png');
    /* Icon / Ribbon */
background-size:contain;
width: 30px;
height: 30px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}
.awards-category{
    /* Award Category */

width: 218px;
height: 18px;

font-family: 'Euclid Circular A';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 18px;

/* identical to box height, or 150% */
letter-spacing: 0.25px;

/* Purples/Bright Purple */
color: #7D5FFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;
}
#award-1 .award-name, #award-2 .award-name, #award-3 .award-name, #award-4 .award-name, #award-8 .award-name{

    width: 256px;
    height: 52px;
    
    font-family: 'Euclid Circular A';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    
    /* or 144% */
    letter-spacing: 0.2px;
    
    /* Purples/Midnight */
    color: #1E1A34;
    
    
    /* Inside auto layout */
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}
#award-5 .award-name, #award-6 .award-name, #award-7 .award-name{

    width: 256px;
    height: 78px;
    
    font-family: 'Euclid Circular A';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    
    /* or 144% */
    letter-spacing: 0.2px;
    
    /* Purples/Midnight */
    color: #1E1A34;
    
    
    /* Inside auto layout */
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}
#awards-head{
    /* Group 6 */

position: absolute;
/* left: 0%;
right: 10%;
top: 0%;
bottom: 41.82%; */
height:102px;
width:832px;


}
#awards-title{/* Recent Awards */

    position: absolute;
    /* left: 0%;
    right: 25.71%;
    top: 0%;
    bottom: 96.08%; */
    height:22px;
    width:832px;
    
    font-family: 'Euclid Circular A';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    
    /* identical to box height, or 157% */
    letter-spacing: 2.5px;
    text-transform: uppercase;
    
    /* Purples/Bright Purple */
    color: #7D5FFF;
    
    }
#awards-headline{/* Earning the respect of our peers. */

    position: absolute;
    left: 0%;
    right: 10%;
    top: 8.2%;
    bottom: 41.82%;
    height:56px;
    width:832px;
    
    font-family: 'Euclid Circular A';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    
    /* identical to box height, or 117% */
    letter-spacing: -0.5px;
    
    /* Purples/Midnight */
    color: #1E1A34;
    
    }
.frame-137{

    /* Frame 137 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 155px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;
}
.award-org{
    /* Organization Title */

width: 106px;
height: 18px;

font-family: 'Euclid Circular A';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;

/* identical to box height, or 150% */
letter-spacing: 0.25px;

/* Purples/Midnight */
color: #1E1A34;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}    
.award-slash{
    /* / */

width: 7px;
height: 18px;

font-family: 'Euclid Circular A';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;

/* identical to box height, or 150% */
letter-spacing: 0.25px;

/* Purples/Midnight 50% */
color: rgba(30, 26, 52, 0.5);


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
}
.award-year{
    /* 2021 */

width: 26px;
height: 18px;

font-family: 'Euclid Circular A';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;

/* identical to box height, or 150% */
letter-spacing: 0.25px;

/* Purples/Midnight 50% */
color: rgba(30, 26, 52, 0.5);


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
}
    #award-1{

        /* Awards */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 12px;

position: absolute;
left: 0%;
right: 77.14%;
top: 35.47%;
bottom: 40.29%;


    }
    #award-2{
        /* Awards */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 12px;

position: absolute;
left: 25.71%;
right: 51.43%;
top: 35.47%;
bottom: 40.29%;


    }
    #award-3{
        /* Awards */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 12px;

position: absolute;
left: 51.43%;
right: 25.71%;
top: 35.47%;
bottom: 40.29%;


    }
    #award-4{/* Awards */

        /* Auto layout */
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 12px;
        
        position: absolute;
        left: 77.14%;
        right: 0%;
        top: 35.47%;
        bottom: 40.29%;}
    #award-5{/* Awards */

        /* Auto layout */
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 12px;
        
        position: absolute;
        left: 0%;
        right: 77.14%;
        top: 71.12%;
        bottom: 0%;
        
        }
    #award-6{
/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 12px;

position: absolute;
left: 25.71%;
right: 51.43%;
top: 71.12%;
bottom: 0%;

    }
    #award-7{

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 12px;

position: absolute;
left: 51.43%;
right: 25.71%;
top: 71.12%;
bottom: 0%;



    }
    #award-8{

        /* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 12px;

position: absolute;
left: 77.14%;
right: 0%;
top: 71.12%;
bottom: 4.63%;


    }
    #personas-container{
        position: absolute;
        width: 100%;
        height: 1110px;
        top: 3632px;
        



    }
    #pers-rect{
        /* Rectangle 7 */

position: absolute;
height: 1110px;
width:100%;

background: url('/images/footer-bg.png');
mix-blend-mode: normal;
transform: matrix(-1, 0, 0, 1, 0, 0);
background-size:cover;

    }
#personas-block{
/* Personas Block / Desktop */

position: relative;
width: 1440px;
height: 1110px;
left: 0px;
margin:0 auto;




}
#frame-92{
/* Frame 92 */
/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

position: absolute;
left: 11.11%;
right: 64.44%;
top: 35.86%;
bottom: 43.42%;
}
#frame-93{
/* Frame 93 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

position: absolute;
left: 37.78%;
right: 37.78%;
top: 35.86%;
bottom: 40.54%;
}
#frame-94{
/* Frame 94 */
/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

position: absolute;
left: 64.44%;
right: 11.11%;
top: 35.86%;
bottom: 43.42%;
}
#frame-91{
    /* Frame 91 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

position: absolute;
left: 11.11%;
right: 64.44%;
top: 65.23%;
bottom: 11.17%;


}
#frame-98{
/* Frame 98 */
/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

position: absolute;
left: 37.78%;
right: 37.78%;
top: 65.23%;
bottom: 14.05%; 
}
#frame-100b{
/* Frame 100 */
/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

position: absolute;
left: 64.44%;
right: 11.11%;
top: 65.23%;
bottom: 14.05%;
}

#wisest{
    /* The wisest investment you’ll ever make. */

position: absolute;
left: 11.11%;
right: 57.78%;
top: 14.95%;
bottom: 69.91%;

font-family: 'Euclid Circular A';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 56px;

/* or 117% */
letter-spacing: -0.5px;

/* Neutrals / White */
color: #FFFFFF;


}

#persona-blurb{
    /* Enfusion unlocks the full potential of the Cloud across front-, middle- and back-office investment processes. */

position: absolute;
left: 51.11%;
right: 17.78%;
top: 17.3%;
bottom: 75.68%;

font-family: 'Euclid Circular A';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 26px;

/* or 144% */
letter-spacing: 0.2px;

/* Neutrals / White */
color: #FFFFFF;


}
.pers-title{
/* For Traders */

width: 352px;
height: 32px;

font-family: 'Euclid Circular A';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 32px;

/* identical to box height, or 133% */

/* Neutrals / White */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
    
}
#frame-93 .pers-title, #frame-91 .pers-title{
    height:64px;
}
.pers-lm{
/* Learn More */

width: 83px;
height: 22px;

font-family: 'Euclid Circular A';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 22px;

/* identical to box height, or 147% */
letter-spacing: 0.2px;

/* Purples / Periwinkle */
color: #99B0F6;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}
.pers-cta{
/* 2nd CTA / Desktop */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 16px;

width: 133px;
height: 22px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;
}
#frame-92 .pers-icon{
    /* Icon / Dollar Clipboard */
    background:url('/images/icon_dollarclip.png');
width: 40px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}
#frame-93 .pers-icon{
    /* Icon / Dollar Clipboard */
    background:url('/images/icon_piebarchart.png');
width: 40px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}
#frame-94 .pers-icon{
    /* Icon / Dollar Clipboard */
    background:url('/images/icon_charthandle.png');
width: 40px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}
#frame-91 .pers-icon{
    /* Icon / Dollar Clipboard */
    background:url('/images/icon_web.png');
width: 40px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}
#frame-98 .pers-icon{
    /* Icon / Dollar Clipboard */
    background:url('/images/icon_searchcheck.png');
width: 40px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}
#frame-100b .pers-icon{
    /* Icon / Dollar Clipboard */
    background:url('/images/icon_it.png');
width: 40px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}






.pers-arrow{
    /* UI / Arrow Long Large */
background:url('/images/Vectorarrow.svg');
width: 34px;
height: 14px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
}

.pers-copy{
    
width: 352px;
height: 88px;

font-family: 'Euclid Circular A';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;

/* or 147% */
letter-spacing: 0.2px;

/* Neutrals/White 70% */
color: rgba(255, 255, 255, 0.7);


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;
}
#ftb{
    /* FRONT-TO-BACK PLATFORM */

position: absolute;
left: 11.11%;
right: 57.78%;
top: 10.81%;
bottom: 87.21%;

font-family: 'Euclid Circular A';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 22px;

/* identical to box height, or 157% */
letter-spacing: 2.5px;
text-transform: uppercase;

/* Purples / Periwinkle */
color: #99B0F6;


}
.pers-arrow-vector{
    /* Vector */

    position: absolute;
    width: 32px;
    height: 12px;
    left: 1px;
    top: 1px;
    
    /* Purples / Periwinkle */
    border: 2px solid #99B0F6;
}
.pers-arrow{
/* UI / Arrow Long Large */
width: 34px;
height: 14px;
/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
}
#rectangle-7{
    /* Rectangle 7 */

position: absolute;
left: 100%;
right: -100%;
top: 0%;
bottom: 0%;

}
#bv-footer-block{

/* Footer / Desktop */

position: absolute;
width: 100%;
height: 808px;
left: 0px;
top: 7315px;
background:url('/images/footer-bg.png');
background-size:cover;

}
.footer-inner{
    position: relative;
max-width: 1440px;
height: 808px;
left: 0px;
top: 0px;
margin:0 auto;

mix-blend-mode: normal;


}
.foot-logo{
    /* Logo / Horiz Sig */
background:url('/images/footer_logo.png');
background-size:cover;
position: absolute;
width: 163px;
height: 56px;
left: 160px;
top: 88px;


}
.footer-cta1{
    /* 1st CTA */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 16px;

position: absolute;
width: 118px;
height: 32px;
left: 1120px;
top: 122px;


}
.fcta1{
    width: 52px;
height: 22px;

font-family: 'Euclid Circular A';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 22px;

/* identical to box height, or 147% */
letter-spacing: 0.2px;

/* Neutrals / White */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}
.fcta2{
    width: 50px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
}

.frame-37{
/* Frame 37 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 12px;

position: absolute;
width: 256px;
height: 282px;
left: 160px;
top: 200px;



}
.frame-42{

    /* Frame 42 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 12px;

position: absolute;
width: 256px;
height: 464px;
left: 448px;
top: 200px;


}
.frame-139{
/* Frame 139 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 46px;

position: absolute;
width: 256px;
height: 294px;
left: 736px;
top: 200px;



}
.frame-38{
    /* Frame 38 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 12px;

width: 256px;
height: 124px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}
.frame-41{
    /* Frame 41 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 12px;

width: 256px;
height: 124px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
}
.frame-140{
    /* Frame 140 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 46px;

position: absolute;
width: 160px;
height: 432px;
left: 1120px;
top: 200px;
}
.frame-40{
/* Frame 40 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 12px;

width: 160px;
height: 90px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}
.frame-40{
    /* Frame 40 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 12px;

width: 160px;
height: 90px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}
.frame-39{
    /* Frame 39 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 12px;

width: 160px;
height: 226px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
}

.foot-line{/* Line 15 */

    position: absolute;
    width: 432px;
    height: 0px;
    left: 1024px;
    top: 420px;
    
    /* Neutrals/White 30% */
    border: 1px solid rgba(255, 255, 255, 0.3);
    transform: rotate(90deg);
}
.footer-heading{
    width: 256px;
    height: 22px;
    
    font-family: 'Euclid Circular A';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    
    /* identical to box height, or 157% */
    letter-spacing: 2.5px;
    text-transform: uppercase;
    
    /* Neutrals / White */
    color: #FFFFFF;
    
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}
.foot-item{
    
width: 256px;
height: 22px;

font-family: 'Euclid Circular A';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;

/* identical to box height, or 147% */
letter-spacing: 0.2px;

/* Neutrals/White 70% */
color: rgba(255, 255, 255, 0.7);


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}
.foot-social{
    /* Social Icons */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 16px;

width: 90px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
}
#soc-in{
    background:url('/images/icon_soc_in.png');
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
    width: 18px;
height: 24px;

/* Icons / Social */
font-family: 'Font Awesome 5 Brands';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

/* identical to box height, or 120% */
text-align: center;
letter-spacing: 0.6px;

/* Neutrals/White 70% */
color: rgba(255, 255, 255, 0.7);


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
    
}
#soc-tw{
    background:url('/images/icon_soc_tw.png');
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
    width: 20px;
height: 24px;

/* Icons / Social */
font-family: 'Font Awesome 5 Brands';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

/* identical to box height, or 120% */
text-align: center;
letter-spacing: 0.6px;

/* Neutrals/White 70% */
color: rgba(255, 255, 255, 0.7);


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
}
#soc-fb{
    background:url('/images/icon_soc_fb.png');
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
    width: 20px;
height: 24px;

/* Icons / Social */
font-family: 'Font Awesome 5 Brands';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

/* identical to box height, or 120% */
text-align: center;
letter-spacing: 0.6px;

/* Neutrals/White 70% */
color: rgba(255, 255, 255, 0.7);


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
}

.footer-copyright{
/* ©2021 Enfusion. All rights reserved. */

position: absolute;
width: 210px;
height: 18px;
left: 160px;
top: 723px;

font-family: 'Euclid Circular A';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;

/* identical to box height, or 150% */
letter-spacing: 0.25px;

/* Neutrals/White 70% */
color: rgba(255, 255, 255, 0.7);


    
}
.footer-priv{
    
position: absolute;
width: 122px;
height: 18px;
left: 1120px;
top: 723px;

font-family: 'Euclid Circular A';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;

/* identical to box height, or 150% */
letter-spacing: 0.25px;

/* Neutrals/White 70% */
color: rgba(255, 255, 255, 0.7);
}
#rectangle-5{
/* Rectangle 5 */

position: absolute;
width: 1440px;
height: 216px;
left: 1440px;
top: 800px;

background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%), #101820;
mix-blend-mode: multiply;
transform: rotate(-180deg);

}
/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 1152px) {

  }